<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Pagina Uno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="https://librosostenibilidad.files.wordpress.com/2017/03/paisaje-cultura-sostenibilidad.jpg" alt="" />
      <ion-card-header>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-button color="dark" (click)="calendario($event)" expand="block">
        Button Calendar Test Modify
      </ion-button>
    </ion-card>
    
</ion-content>