<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Pagina Uno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="https://librosostenibilidad.files.wordpress.com/2017/03/paisaje-cultura-sostenibilidad.jpg" alt="" />
      <ion-card-header>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-button color="dark" (click)="calendario($event)" expand="block">
        Button Calendar Test Modify
      </ion-button>
    </ion-card>
    <ion-list lines="none" >
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/" class="ion-float-left">
        <ion-icon slot="start" color="dark" name="book"></ion-icon>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding" class="ion-float-left">
        <ion-icon slot="start" color="dark" name="build"></ion-icon>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure" class="ion-float-left">
        <ion-icon slot="start" color="dark" name="grid"></ion-icon>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics"class="ion-float-left">
        <ion-icon slot="start" color="dark" name="color-fill"></ion-icon>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics"class="ion-float-left">
        <ion-icon slot="start" color="dark" name="color-fill"></ion-icon>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics"class="ion-float-left">
        <ion-icon slot="start" color="dark" name="color-fill"></ion-icon>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics"class="ion-float-left">
        <ion-icon slot="start" color="dark" name="color-fill"></ion-icon>
      </ion-item>
    </ion-list>
</ion-content>